@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Black+Han+Sans&family=Encode+Sans&family=Francois+One&family=Kaushan+Script&family=Merriweather+Sans:wght@800&family=Orbitron:wght@500;900&family=Roboto:wght@100;300;700;900&family=Shadows+Into+Light&family=Signika:wght@500;700&family=Varela&family=Volkhov:wght@700&display=swap");
* {
  font-family: "Roboto";
}
body {
  margin-left: 50px;
  overflow-x: hidden;
}
.navbar {
  margin-left: 20px;
  margin-top: 30px;
}
.main-logo {
  height: 40px;
}
.list {
  float: right;
  margin-right: 220px;
}
.list-item {
  display: inline;
  padding: 10px 20px;
  color: #4e4b4b;
}
.active {
  color: #0d0d0d;
  font-weight: bolder;
}
.btn {
  float: right;
  margin-right: -760px;
  margin-top: -40px;
  width: 120px;
  padding: 12px;
  border-radius: 0.6rem;
  color: #5b54fa;
  border: 1.4px solid #5b54fa;
  background-color: transparent;
  font-weight: bold;
}

.part {
  margin-top: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.parts-heading {
  font-size: 60px;
  margin-bottom: 50px;
}
.parts-para {
  margin-top: -25px;
  color: #525050;
  font-size: 15px;
}
.parts-btn {
  margin-top: 10px;
  background: linear-gradient(90deg, #736dea 0%, #1d4cb0 100%);
  color: #fff;
  border: 1px solid #5499fa;
  box-shadow: 0 0 6px #736dea;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 33px;
  width: 170px;
  border-radius: 0.5rem;
  cursor: pointer;
}

#i1 {
  /* float: right; */
  height: 350px;
  width: 500px;
}

.main-2 {
  margin-top: 80px;
  margin-bottom: 70px;
}
.main2-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main2-heading h1 {
  font-size: 35px;
  font-stretch: ultra-expanded;
}
.main2-heading p {
  float: right;
  /* margin-top: -105px;
  margin-right: 90px; */
  color: #525050;
}
.boxes {
  margin-top: 60px;
}
.boxes1 {
  display: flex;
  flex-direction: row;
  color: #525050;
}
.boxes2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  color: #525050;
}
.box1 {
  padding: 0px 80px 0px 0px;
}
.box1 p {
  font-size: 15px;
}
.cloud-img {
  height: 35px;
}
.main-3 {
  background: linear-gradient(to bottom, #73a3fd 0%, #4942cd 100%);
}
.head {
  text-align: center;
  color: white;
  padding-top: 5px;
  font-size: 25px;
}
.packs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
  padding-bottom: 40px;
  height: 450px;
  gap: 80px;
}
.pack {
  padding: 20px;
  border: 0.5px solid black;
  background-color: #fff;
  border-radius: 0.3rem;
}
.pack h3 {
  margin-top: -5px;
}
.pack p {
  margin-top: -5px;
  font-size: 12px;
}
.pack ul {
  margin-left: -15px;
  list-style: none;
  margin-top: 40px;
}
.pack ul li {
  padding-top: 10px;
}
.pack h4 {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
}
.pack h4 span {
  color: #525050;
}
.cancel {
  text-align: center;
}

.pack button {
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
  padding: 10px;
  width: 140px;
  border-radius: 0.3rem;
  color: #5499fa;
  border: 0.6px solid #5499fa;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.headd {
  margin-right: -20px;
  margin-left: -20px;
  margin-top: -20px;
  padding: 20px 0px 0px 20px;
  background-color: #0d0d0d;
  border-radius: 0px 0px 0.3rem 0.3rem;
  color: white;
}

.main-4 {
  margin-top: 200px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 35px;
}
.title p {
  color: #525050;
  font-size: 12px;
}
.rev1 {
  display: flex;
  flex-direction: row;
}
.rev2 {
  display: flex;
  flex-direction: row;
}

.r1 {
  padding: 10px 120px 20px 20px;
  border: 0.2px solid black;
  border-radius: 0.2rem;
  margin: 10px;
  font-size: 14px;
}
img[src="./assets/main4-circle.png"] {
  height: 40px;
}
.footerr {
  margin-bottom: -50px;
  display: flex;
  flex-direction: row;
}
.foot {
  display: block;
  margin-left: 60px;
}
.main-5 {
  background: linear-gradient(45deg, #4b69d6 0%, #3112ad 100%);
  margin-top: 50px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.b {
  color: white;
}
.b h2 {
  font-size: 40px;
}
.b p {
  margin-top: -20px;
  font-size: 12px;
  color: rgb(214, 212, 212);
}

.bt button {
  padding: 10px;
  width: 150px;
  border: 1px solid white;
  border-radius: 0.3rem;
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.footer {
  margin-top: 100px;
  height: 270px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foot-logo {
  height: 40px;
}
.left-section {
  float: left;
}
.left-section p {
  font-size: 14px;
}
.right-section {
  display: flex;
  flex-direction: row;
}
.item-l {
  list-style: none;
  padding-top: 15px;
  font-size: 13px;
}
.foot-div label {
  font-weight: bolder;
  font-size: 20px;
}
.foot-div {
  margin: 0px 80px 0px 0px;
}
.social-icons {
  height: 32px;
  margin-top: 40px;
}
@media screen and (max-width: 1200px) {
  .main-logo {
    height: 30px;
  }
  .list-item {
    font-size: 15px;
  }
  .btn {
    width: 100px;
    padding: 10px;
  }
  .parts-heading {
    font-size: 45px;
  }
  .parts-para {
    font-size: 15px;
  }
  .parts-btn {
    padding: 7px;
    width: 160px;
  }
  #i1 {
    height: 300px;
    width: 400px;
  }

  .main2-heading h1 {
    font-size: 30px;
  }
  .main2-heading p {
    font-size: 15px;
  }

  .packs {
    gap: 20px;
  }
  .pack h3 {
    font-size: 17px;
  }
  .pack p {
    font-size: 12px;
  }

  .pack ul li {
    padding-top: 10px;
    font-size: 14px;
  }
  .pack h4 {
    font-size: 20px;
  }

  .pack button {
    margin-left: 45px;
    margin-top: 10px;
    padding: 8px;
    width: 130px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1120px) {
  .main-logo {
    height: 30px;
  }
  .list-item {
    float: right;
  }
  .btn {
    display: none;
  }
  .packs {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 30px;
  }
}
@media screen and (max-width: 900px) {
  .list-item {
    display: none;
  }
  .btn {
    display: block;
    float: right;
    margin-right: 80px;
  }
  .part {
    display: flex;
    flex-direction: column;
  }
  .part1 {
    margin-left: 26px;
  }
  .parts-heading {
    font-size: 35px;
  }
  .main2-heading {
    column-gap: 30px;
  }
  .main-3 {
    height: 1100px;
  }
  .packs {
    gap: 30px;
    margin-left: 130px;
  }
  .main-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .b h2 {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .b p {
    margin-bottom: -20px;
  }

  .foot-div label {
    font-size: 17px;
  }
  .item-l {
    font-size: 12px;
  }
  .foot-div {
    margin: 0px 50px 0px 0px;
  }
}
@media screen and (max-width: 800px) {
  .main-3 {
    height: 1150px;
  }
  .packs {
    margin-left: 80px;
  }
  .r1 {
    padding: 10px 60px 20px 20px;
    border: 0.2px solid black;
    border-radius: 0.2rem;
    margin: 10px;
    font-size: 14px;
  }
  .item-l,
  .social {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .main-3 {
    height: 1550px;
  }
  .packs {
    margin-left: 80px;
  }
}
